* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Para centralizar o botão CLIQUE AQUI */
/* body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

button {
  display: block;
  margin: 3rem auto;
  background: crimson;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 1rem;
}

.popup-wrapper {
  display: none;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  max-width: 25rem;
  padding: 2rem;
  border-radius: .25rem;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 35%;

}

.popup h2{
  padding-bottom: 1rem;
}

.popup p {
  padding-bottom: 2rem;
}

.popup a {
  color: white;
  cursor: pointer;
  padding: 6px 10px;
  text-decoration: none;
  background-color: crimson;
  border-radius: 4px;
}

.popup-close {
  position: absolute;
  text-align: center;
  top: 0.375rem;
  right: 1rem;
  cursor: pointer;
  color: #4d4b4b;
  font-size: 1.6rem;
  /* border: 1px solid crimson; */
  /* border-radius: 50%; */
  /* padding: 2px 7px; */
  /* color: white; */
  /* background-color: crimson; */
}